body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 20vw 50vw;
    grid-template-rows: 20vh 55vh 25vh;
}

.item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d51846;
    grid-column: 5;
    grid-row: 1 / span 3;
    animation-name: background-anim;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.item3 {
    grid-column: 1 / span 4;
    grid-row: 2;
    color: #000000;
    animation-name: yellowtext;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.phone {
    margin: 16px;
    width: 367px;
    height: 699px;
    background-size: 367px 699px;
    animation-name: phone;
    animation: phone 0.5s linear infinite;
    animation-delay: 1.5s;
    cursor: pointer;
}

.phone:hover {
    animation: phone 0.1ms linear infinite;
    width: 10px;
    filter: blur(50px);
}

.logo {
    width: 40px;
    margin-top: 3%;
    margin-left: 10%;
    cursor: pointer;
}

.logo:hover {
    filter: opacity(0%);
}

h1 {
    font-size: 28px;
    line-height: 34px;
    max-width: 360px;
    margin-left: 10%;
    cursor: pointer;
    animation-name: fliph1;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10%;
    margin-right: 20%;
    cursor: pointer;
}

.row {
    margin-left: 9%;
}

.sipnews {
    color: #000000;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    animation-name: greentext;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.download {
    width: 140px;
    height: auto;
    cursor: text;
}

/* popup */

.form-popup {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    right: 50%;
    bottom: 40%;
    z-index: 9;
}


.form-container {
    border-radius: 5px;
    min-width: 300px;
    padding: 10px;
    animation-name: background-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.form-container h1 {
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    padding: 15px 0px;
    margin: 5px 0 22px 0;
    border: none;
}

.form-container .btn {
    background-color: red;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

label {
    font-weight: bold;
}

/* end popup */

@keyframes fliph1 {
    to {
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
    }
}

@keyframes phone {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(800deg)
    }
}

@keyframes yellowtext {
    0% {
        color: #000000;
    }

    100% {
        color: #FFFF00;
    }
}

@keyframes greentext {
    0% {
        color: #000000;
    }

    100% {
        color: #CCFFCC;
    }
}

@keyframes background-anim {
    0% {
        background-color: #d51846;
    }

    15% {
        background-color: rgb(255, 174, 0);
    }

    30% {
        background-color: yellow;
    }

    45% {
        background-color: rgb(30, 255, 0);
    }

    60% {
        background-color: rgb(0, 113, 128);
    }

    75% {
        background-color: rgb(153, 0, 255);
    }

    90% {
        background-color: rgb(255, 0, 191);
    }

    100% {
        background-color: rgb(255, 0, 0);
    }
}

@media only screen and (max-width: 600px) {
    .form-popup {
        display: none;
        position: absolute;
        top: 30%;
        left: 10%;
        right: 10%;
        bottom: 30%;
        z-index: 9;
    }

    .phone {
        width: 150px;
        height: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 10vw 10vw 10vw 20vw 50vw;
        grid-template-rows: 3vh 89vh 8vh;
    }

    .download {
        width: 140px;
        height: auto;
    }
}