body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 20vw 50vw;
    grid-template-rows: 20vh 55vh 25vh;
}

.item1,
.item3,
.item4 {
    grid-column: 1 / span 4;
}

.item1 {
    grid-row: 1;
}

.item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 67, 67);
    grid-column: 5;
    grid-row: 1 / span 3;
    animation-name: background-red;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.item3 {
    grid-row: 2;
    color: #FFFF00;
}

.item4 {
    grid-row: 3;
}

.phone {
    margin: 16px;
    width: 367px;
    height: 699px;
    background-size: 367px 699px;
    animation-name: phone;
    animation: phone 1s linear infinite;
    cursor: pointer;
}

.phone:hover {
    animation: phone 0.1ms linear infinite;
    width: 10px;
    filter: blur(100px);
}

.cup {
    width: 40px;
    margin-top: 3%;
    margin-left: 10%;
    cursor: pointer;
}

.cup:hover {
    transform: scale(0);
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: 28px;
    line-height: 34px;
    max-width: 360px;
    margin-left: 10%;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    cursor: pointer;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    margin-left: 10%;
    margin-right: 20%;
    cursor: pointer;
}

.container {
    margin-left: 9%;
}

.sipnews {
    color: #CCFFCC;
    font-size: 14px;

    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

.download {
    width: 140px;
    height: auto;
}

/* popup */
.open-button {
    border: none;
    cursor: text;
    background: none;
}

.form-popup {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    right: 50%;
    bottom: 40%;
    z-index: 9;
}


.form-container {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    border-radius: 5px;
    min-width: 300px;
    padding: 10px;
    animation-name: background-red;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.form-container h1 {
    margin: 0;
    padding: 0;
}

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px 0px;
    margin: 5px 0 22px 0;
    border: none;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    outline: none;
}

.form-container .btn {
    background-color: red;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/* end popup */

@keyframes phone {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(800deg)
    }
}

@keyframes background-red {
    0% {
        background-color: red;
    }

    15% {
        background-color: rgb(255, 174, 0);
    }

    30% {
        background-color: yellow;
    }

    45% {
        background-color: rgb(30, 255, 0);
    }

    60% {
        background-color: rgb(0, 113, 128);
    }

    75% {
        background-color: rgb(153, 0, 255);
    }

    90% {
        background-color: rgb(255, 0, 191);
    }

    100% {
        background-color: rgb(255, 0, 0);
    }
}

@media only screen and (max-width: 600px) {
    .form-popup {
        display: none;
        position: absolute;
        top: 30%;
        left: 10%;
        right: 10%;
        bottom: 30%;
        z-index: 9;
    }

    .phone {
        width: 200px;
        height: 400px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 10vw 10vw 10vw 20vw 50vw;
        grid-template-rows: 3vh 89vh 8vh;
    }

    .download {
        width: 140px;
        height: auto;
    }
}